.banner-img {
    background-image: url('https://i.ibb.co/ZdSp2N7/128649692-education-and-technology-concept-students-with-gadgets-networking-in-library-free-space.jpg');
    background-repeat: no-repeat;
   background-size: cover;
  
    
}